@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

.font-firacode {
    font-feature-settings: 'ss01', 'ss02', 'ss03', 'ss04', 'ss05', 'ss06',
        'zero', 'onum';
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Update selected text for Chrome, Safari and Opera */
::selection {
    @apply bg-black text-white;
}

/* Update selected text for IE, Edge and Firefox */
::-moz-selection {
    @apply bg-black text-white;
}

/* Force centered material icons */
div:has(> span.material-symbols-rounded) {
    @apply flex items-center justify-center;
}
